/* File: src/app/globals.css */
@import "tailwindcss";

:root {
  --color-primary: #7FAE39;
  --color-secondary: #153801;
  --color-highlight: #F7C948;
  --color-box: #87a4c4;
  --color-box-hover: #6b8bbf;
  --color-background: #f7f4f4;
  --color-surface: rgba(210, 215, 220, 0.7);
  --color-foreground: #000000;

  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;
}

.dark {
    --color-background: #373939;
    --color-foreground: rgb(255, 255, 255);
    --color-box-hover: #6b8bbf;
    --color-box: #7FAE39;
    --color-surface: rgba(255, 255, 255, 0.1);
}


body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 26px; */
}

header {
  background: transparent;
  padding: 0.2rem;
  text-align: center;
  font-size: 20;
}