@import "tailwindcss";

:root {
  --color-primary: #7FAE39;
  --color-secondary: #153801;
  --color-highlight: #F7C948;

  --color-background: #FEFCFD;
  --color-surface: #E5E5E3;
  --color-foreground: #000000;

  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;
}

.dark {
    --color-background: #89CFF0;
    --color-foreground: darkgrey;
}


body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

header {
  background: transparent;
  color: white;
  padding: 1rem;
  text-align: center;
}