@import "tailwindcss";

:root {
  --color-primary: #7FAE39;
  --color-secondary: #153801;
  --color-highlight: #F7C948;

  --color-background: #f8f3f6;
  --color-surface: #E5E5E3;
  --color-foreground: #000000;

  --font-sans: system-ui, sans-serif;
  --font-mono: monospace;
}

.dark {
    --color-background: #373939;
    --color-foreground: rgb(255, 255, 255);
}


body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

header {
  background: transparent;
  padding: 0.2rem;
  text-align: center;
}